:root {
/* fonts */
--dm-subtitle-font: 'Fira Sans', sans-serif;
--dm-title-font: 'Racing Sans One', sans-serif;
--dm-body-font: 'Roboto', sans-serif;

/* colors */
    --cf-dark: #212121;
    --cf-light: #ebebeb;
    --cf-darkblue: #00223d;
    --cf-highlight: #fae100;
}

/* Sticky Footer */
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("/img/LandingPage_1920.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 190%;
    background-color: var(--cf-darkblue);
}

.content {
    flex: 1 0 auto;
}

main {
    flex-grow: 1;
}

.footer {
    flex-shrink: 0;
}

/* END: Sticky Footer */

/* START: Main Header */
.mainLogo {
    height: .7em;
}


.mainHeader-cover {
    margin-top: 320px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}

.mainHeader-content {
    margin-top: 500px;
    background-color: var(--cf-darkblue);
    justify-content: end;
}


.mainTitle, 
.subTitle {
    color: var(--cf-light);
}

.mainTitle {
    font-family: var(--dm-title-font);
    font-size: 2.5rem;
    line-height: 2rem;
}

.subTitle {
    font-family: var(--dm-subtitle-font);
    font-size: .91rem;
    line-height: 1rem;
    font-weight: 300;
    letter-spacing: .081rem;
}

.mainHeader-wrapper {
    padding-right: 1rem;
}

.mainHeader-content {
    height: 100%;
    display: flex;
    align-items: end;
}

/* END: Main Header */

/***************** MEDIA QUERIES ****************/
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    
body {
    display: flex;
    flex-direction: column;
    background-image: url("/img/LandingPage_1920.png");
    background-position: 0px 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 110%;
    background-color: var(--cf-darkblue);
}

    .mainTitle {
        font-size: 3rem;
        line-height: 2.5rem;
    }

    .subTitle {
        font-size: 1.05rem;
        letter-spacing: .12rem;
    }

    .mainHeader-content {
        margin-top: 0px;
        height: 100%;
        display: flex;
        align-items: center;
        background: none;
        justify-content: start;
        padding-left: 2rem;
    }
    
    .mainHeader-cover {
        margin-top: 50px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    body {
        display: flex;
        flex-direction: column;
        background-image: url("/img/LandingPage_1920.png");
        background-position: -600px 0px;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 180%;
        background-color: var(--cf-darkblue);
    }
    .mainTitle {
        font-size: 3.5rem;
        line-height: 2.7rem;
    }

    .subTitle {
        font-size: 1.25rem;
        letter-spacing: .128rem;
        line-height: 1.5rem;
    }
    .mainHeader-cover {
        margin-top: 250px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    body {
        display: flex;
        flex-direction: column;
        background-image: url("/img/LandingPage_1920.png");
        background-position: -550px 0px;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 150%;
        background-color: var(--cf-darkblue);
    }

    .mainTitle {
        font-size: 4.5rem;
        line-height: 3.5rem;
    }

    .subTitle {
        font-size: 1.6rem;
        letter-spacing: .17rem;
        line-height: 2rem;
    }

    .mainHeader-cover {
        margin-top: 220px;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    body {
        display: flex;
        flex-direction: column;
        background-image: url("/img/LandingPage_1920.png");
        background-position: -50px 0px;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: 110%;
        background-color: var(--cf-darkblue);
    }

}